/* ICBF Main Styles */

body {
	background: #F2F2F2; 
	font:100% Raleway;
	color:#444;
	font-size: 12px;
}
a{ color:#239;}

header{
	a{color:#05C;}
	ul{ list-style-type: none;}
	li{ display: inline-block}
}